fastapi
uvicorn
google-genai
python-dotenv
supabase
pydantic
pydantic-settings
jinja2
multipart
requests
faiss-cpu
numpy
pandas
langchain
langchain-community
langchain-google-genai
langchain-huggingface